$color-primary-bright: hsl(31, 77%, 52%);
$color-primary-dark-1: hsl(184, 100%, 22%);
$color-primary-dark-2: hsl(179, 100%, 13%);

$color-neutral-white: hsla(0, 0%, 100%, 0.75);
$color-neutral-grey: hsl(0, 0%, 95%);

$bp-mobile: 20em; //374px
$bp-desktop: 60.06em; //961px

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    background-color: $color-neutral-grey;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: $color-neutral-grey;
    margin-left: 4rem;
    margin-bottom: 4rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    color: $color-neutral-white;
    margin-left: 4rem;
    margin-right: 4rem;
    display: inline-block;
}

img {
    display: block;
    margin: 4rem;
}